<h1>Test</h1>
<form id="userform">
  <p>First name: </p>
  <input type="text" name="firstname">
  <p>Last name: </p>
  <input type="text" name="lastname">
  <p>Email: </p>
  <input type="text" name="email">
  <p>Social Security Number: </p>
  <p><input type="text" name="socialsecurity"></p>
  <input type="submit" value="Submit">
</form>
